
#contactDetails{
    display: block;
}


  @media only screen and (min-width: 768px) {
    /* For mobile phones: */
    #contactDetails{
        display: flex;
    }
      
  }

  #greennature-parallax-wrapper-3{
    background-size: auto;
    background-position: center;
    
    
  }


 

@media only screen and (min-width: 768px) {
  
  #greennature-parallax-wrapper-3{
    background-size: cover;
    
  }
} 