#contactDetails {
  display: flex;
  font-size: xx-small;
}

@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  #contactDetails {
    display: flex;
    font-size: small;
  }
}

#greennature-parallax-wrapper-3 {
  background-size: auto;
  background-position: center;
}
#statistics-section {
  display: flex;
  flex-basis: 1/2%;
}

#statistics-text {
  color: #5dc269;
}

.greennature-skill-item-wrapper .greennature-skill-item-title {
  font-size: 20px;
  margin-bottom: 17px;
  font-weight: 800;
  letter-spacing: 1px;
}

#stunning-item-title {
  font-size: 20px;
}
element {
  color: #ffffff;
}
.greennature-skill-item-wrapper .greennature-skill-item-caption {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.greennature-skill-item-wrapper img {
  margin: 0px auto 30px;
  display: block;
  max-width: 30px;
}

.greennature-stunning-item.greennature-stunning-center .stunning-item-caption {
  font-size: 15px;
}
@media only screen and (min-width: 768px) {
  #greennature-parallax-wrapper-3 {
    background-size: cover;
  }

  .greennature-skill-item-wrapper .greennature-skill-item-title {
    font-size: 37px;
    margin-bottom: 17px;
    font-weight: 800;
    letter-spacing: 1px;
  }

  #statistics-section {
    display: block;
  }

  element {
    color: #ffffff;
  }
  .greennature-skill-item-wrapper .greennature-skill-item-caption {
    font-size: 17px;

    text-transform: uppercase;

    font-weight: 800;

    letter-spacing: 2px;
  }

  .greennature-skill-item-wrapper img {
    margin: 0px auto 30px;
    display: block;
    max-width: 62px;
  }

  #stunning-item-title {
    font-size: 41px;
  }

  .greennature-stunning-item.greennature-stunning-center
    .stunning-item-caption {
    font-size: 21px;
  }
}

#hover-image:hover {
  scale: 1.1;
  cursor: pointer;
}

#contact-footer p {
  margin-bottom: 0;
}

#address p {
  margin-bottom: 0;
}

#recent-works img {
  height: 50px;
}

#recent-footer img {
  height: 50px;
}

#recent-news img {
  height: 70px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#team-section img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
